.home{
	background-color: #f2f2f2;
}
.home__banner{
	width: 100%;
	background: linear-gradient(transparent, #FFF) left repeat;
	z-index: -1;
	margin-bottom: 	-200px;
}
.home__banner:after{
	background: linear-gradient(transparent, #FFF) left repeat;
}
.home__row{
	display: flex;
	z-index: 1;
	justify-content: center;
	margin: 0 10px 0 10px;
}